:root {
	--wsuCrimson: #981e32;
	--wsuGrey: #5e6a71;
	--wsuLightGrey: #8d959a;
}

*:focus{
	outline: none;
}

h1{
	margin-bottom: 20px;

}

input{
	border:none;
	border-bottom: 2px solid var(--wsuGrey);
	font-size: 20px;
	width: 90%;
}

nav {
	background-color: var(--wsuCrimson) !important;
}

ul {
	padding-left: 70px !important;
}

.cougLogo {
	height:64px;
}
