:root {
	--wsuCrimson: #981e32;
	--wsuGrey: #5e6a71;
	--wsuLightGrey: #8d959a;
}

*:focus{
	outline: none;
}

header{
	display: block;
	width: 100%;
	text-align: left;
	position: relative;
	background-color: var(--wsuCrimson);
	font-family: Arial;
}

body{
	margin: 0;
	width: 100%;
	height: 100%;
	position: relative;
	font-family: Arial;
	background-color: var(--wsuGrey);
	color: #000;
}

p{
	margin-bottom: 5px;
	text-align: left;
}

h1{
	margin-bottom: 20px;

}

input{
	border:none;
	border-bottom: 2px solid var(--wsuGrey);
	font-size: 20px;
	width: 90%;
}

.headerImg{
    display: block;
    height: 40px;
}

.button{
    text-decoration: none;
	font-size: 100%;
	text-align: center;
	display: block;
	border-radius: 5px;
    border-style:solid;
    display: inline-block;
    background-color: var(--wsuLightGrey);
    border-color: var(--wsuLightGrey);
    margin-top: 15px;
    padding: 0px 5px;
}

.button:hover {
    background-color: var(--wsuGrey);
    border-color: var(--wsuGrey);
}


.ProfOptions{
    position: relative;
    display: inline-block;
    -webkit-transform: translate(-50%,-60%);
    transform: translate(-50%,-60%);
    margin-left: 50%;
    margin-top: 25%;
    text-align: center;
    font-size:40px;
    background-color: white;
    border-color: black;
    border-radius: 20px;
    padding: 30px 50px;
    box-shadow: 5px 5px 10px black;
}